* {box-sizing: border-box;}
html {
  scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	background: black;
	text-align: center;
	width: 100wv;
	height: 100vh;
}
h1, h2, h3, h4, h5, h6, p, span {
	padding: 0;
	margin: 0;
}
a {text-decoration: none;}
ul {margin: 0; padding: 0;}
li {list-style-type: none;}
a:hover{cursor: pointer;}
li:hover{cursor: pointer;}
.db{display: block;}
.dn{display: none;}
.tac{text-align: center;}




.area {
	height: 50px;
	text-align: left;
}
.area > * {
	display: inline-block;
}
textarea {
	border: 3px solid green;
	min-width: 500px;
	min-height: 150px;
	height: 150px;
	max-height: 250px;
	resize:vertical;
	font-size: 1.3em;
	color: red;
	font-weight: bold;
	padding: 20px;
}
.button {
	width: 300px;
	height: 100%;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	color: white;
	cursor: pointer;
	position: relative;
	top: -45px;
	line-height: 10px;
}
#cutTitleButton {
	background: green;
}
#customSentenceButton {
	background: rgba(0, 0, 255, 0.8);
	top: 0px;
	border: 3px solid red;
}
#cutTitleArea textarea {
	font-size: 1.5em;
	text-align: center;
}


#customSentenceArea {
	margin-top: 150px;
}
#customSentenceArea > * {
	display: block;
	width: 500px;
	margin: 10px 10px 10px 0;
}

#fullBody {
	height: 300px;
	max-height: 500px;
}
#customSentence {
	min-height: 250px;
	height: 250px;
	max-height: 300px;
}



/* RADI!!!!
([^\s]{0}(?<!not[\s]*)looking for(:| :|: | : )*([\s]*(?=[^\s])))((.*[e][.]?[g][.])|(.*(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*))[^.\n])*[^;.\n]*
	*/


/* \(\[\^\\s\]\{0\}'+current+'\(\:\| \:\|\: \| \: \)\*\(\[\\s\]\*\(\?\=\[\^\\s\]\)\)\[\^.\\n\]\*) original working regex before e.g.

\(\[\^\\s\]\{0\}'+current+'\(\:\| \:\|\: \| \: \)\*\(\[\\s\]\*\(\?\=\[\^\\s\]\)\)\)\(.\*\[e\]\[.\]\?\[g\]\[.\]\?\[\^.\\n\]\)\*\[\^.\\n\]\* drugi originalni


*/


/* .*:{1}$ */





/* ([^\s]{0}looking for(:| :|: | : )*([\s]*(?=[^\s]))([^eE][^.][^gG])*([eE][.]?[gG][.]?)*[^.\n]*) */
















